<div class=" vh-100 bg-info text-center row justify-content-center align-items-center">
 <div class="">
       <h2 class="h1 m-5"> <span class=" border-bottom border-secondary ">about</span></h2>
       <div class=" row justify-content-center align-items-center ">
           <p class=" col-md-3 border m-3 p-2">
               Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
           </p>
           <p class=" col-md-3 border m-3 p-2">
               Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
           </p>
    
       </div>
 </div>
    
</div>